.card {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 20px;
    justify-content: center;
    align-items: flex-end;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 6px 2px rgba(0,0,0,.3);
}
.cardCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    border-radius: 20px;
}
.cardImage {
    border: none;
    border-radius: 20px;
}
/*card content*/
.cardCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 80%;
    align-items: start;
    margin: 20px;
}
.cardP {
    font-weight: 400;
    font-size: 1.15rem;
}