.card {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 20px;
    justify-content: center;
    align-items: flex-end;
    border: none;
    border-radius: 20px;
    background-color: #F0F0F0;
    color: black;
}
.cardCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    border-radius: 20px;
}
.cardImage {
    border: none;
    border-radius: 20px;
}
/*card content*/
.cardCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 80%;
    /*background-color: #262626;*/
    /*color: white;*/
    align-items: flex-start;
    margin: 20px;
}
.cardP {
    font-weight: 400;
    font-size: 1.1rem;
}
.cardName {
    font-weight: 700;
    font-size: 1.6rem;
}