.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-radius: 30px;
    height: 200px;
    color: black;
    background-color: #F0F0F0;
}
.popupH1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 20px;
}