.btnClassname {
    border: none;
    border-radius: 10px;
    padding: 12px 40px;
    background-color: #26A653;
    color: white;
    font-weight: 600;
    font-size: 1em;
    margin: 10px;
}
.btnClassname:hover {
    background-color: darkgreen;
}