.nav--con {
    display: flex;
    position: sticky;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0F0F0F;
    color: white;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
}
.nav--con > h1 {
    cursor: pointer;
}